@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v17-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v21-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Public Sans";
}

h2, h3 {
  font-family: "DM Serif Display", serif;
}

body {
  background-color: #EDF3F8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.site-header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 150;
  top: 0;
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.header__img-link {
  display: inline-block;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.navbar__item > a {
  padding: 15px 0;
  transition: color 0.3s linear;
  color: #6C8294;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.navbar__item > a:hover {
  color: #36536B;
}

.header__button {
  padding-bottom: 15px;
  transform: 0.3s all ease;
  text-align: center;
  width: 173px;
  padding: 15px 0;
  border: none;
  border: 2px solid transparent;
  border-radius: 24px;
  background-color: #BA4270;
  transition: 0.3s all linear;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.header__button:hover {
  background-color: #DA6D97;
}

.header__humbarger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar__link-dropdown:hover > .dropdown__list {
  height: 123px;
  padding: 9px;
  transition: 0.3s all linear;
}

.dropdown {
  position: relative;
}

.dropdown__list {
  width: 200px;
  height: 0;
  overflow-y: hidden;
  padding: 0px;
  position: absolute;
  left: -75px;
  top: 30px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 3px 8px rgb(54, 83, 107);
}

.dropdown__item {
  margin: 5px;
  border: 1.5px solid #1B262F;
  border-radius: 15px;
  transition: 0.3s all linear;
}
.dropdown__item:hover {
  background-color: #1B262F;
}

.dropdown__item > a {
  display: block;
  padding: 6px;
  transition: color 0.3s linear;
  color: #6C8294;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.dropdown__item > a:hover {
  color: white;
}

.header__modal {
  width: 80%;
  height: 100vh;
  padding: 24px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 150;
  background-color: #1B262F;
  transition: 0.3s all ease;
}

.show {
  right: 0;
  transition: 0.3s all ease;
}

.header__top-wrapper {
  text-align: right;
  border-bottom: 1px solid #3D464E;
}

.close__btn {
  padding-bottom: 24px;
  background-color: transparent;
  border: none;
}

.modal__list {
  margin: 43px 0 32px;
}

.modal__item {
  text-align: center;
}

.modal__item > a {
  transition: color 0.3s linear;
  color: #6C8294;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.modal__item > a:hover {
  color: #36536B;
}

.modal__item + .modal__item {
  margin-top: 32px;
}

.modal__button {
  transform: 0.3s all ease;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  border: none;
  border: 2px solid transparent;
  border-radius: 24px;
  background-color: #BA4270;
  transition: 0.3s all linear;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.modal__button:hover {
  background-color: #DA6D97;
}

@media (max-width: 880px) {
  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 23px;
  }
}
@media (max-width: 745px) {
  .header {
    gap: 25px;
  }
  .header__content-wrapper {
    gap: 0;
  }
  .navbar__list {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__humbarger {
    display: block;
  }
}
.site-hero {
  padding: 40px 0 75px;
  background-image: url(../../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-size: 645px 550px;
  background-position: right top;
}

.hero {
  padding-top: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.hero__content-wrapper {
  width: 546px;
}

.hero__title {
  color: #36536B;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 21px;
}

.hero__form {
  width: 445px;
  margin-bottom: 16px;
}

.hero__label {
  width: 100%;
  position: relative;
}

.hero__input {
  width: 100%;
  padding: 15px 5px 15px 27px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background: rgb(251, 252, 254);
  transition: all 0.3s ease;
}
.hero__input:focus {
  box-shadow: 0 0 5px 1px #36536B;
  opacity: 1;
}

.hero__btn {
  position: absolute;
  right: 0;
  transform: 0.3s all ease;
  text-align: center;
  width: 173px;
  padding: 14px 0;
  border: none;
  border: 2px solid transparent;
  border-radius: 24px;
  background-color: #BA4270;
  transition: 0.3s all linear;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.hero__btn:hover {
  background-color: #DA6D97;
}

.hero__text {
  margin-left: 27px;
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 0px;
}

.hero__text > a {
  color: #6C8294;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}

@media (max-width: 880px) {
  .site-hero {
    padding: 20px 0 100px;
    background-image: url(../../images/hero-bg-resp-800.svg);
    background-size: 900px 280px;
    background-position: center top;
  }
  .hero {
    padding-top: 95px;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .hero__img {
    width: 159px;
    height: 300px;
  }
  .hero__content-wrapper {
    max-width: 546px;
  }
  .hero__title {
    text-align: center;
    color: #36536B;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 22px;
  }
  .hero__form {
    max-width: 445px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .hero__label {
    width: 100%;
    position: relative;
  }
  .hero__text {
    text-align: center;
  }
}
@media (max-width: 570px) {
  .site-hero {
    background-size: 900px 220px;
  }
  .hero {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .hero__img {
    width: 127px;
    height: 239px;
  }
  .hero__content-wrapper {
    max-width: 327px;
  }
  .hero__title {
    color: #36536B;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 22px;
  }
  .hero__form {
    max-width: 327px;
    margin-bottom: 24px;
  }
  .hero__label {
    position: static;
  }
  .hero__btn {
    margin-top: 16px;
    position: static;
    text-align: center;
    width: 100%;
    padding: 14px 0;
    border: none;
    border: 2px solid transparent;
    border-radius: 24px;
    background-color: #BA4270;
    transition: 0.3s all linear;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 0px;
  }
  .hero__btn:hover {
    background-color: #DA6D97;
  }
  .hero__text {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .hero__content-wrapper, .hero__form {
    width: 100%;
  }
}
.work-section {
  padding: 100px 0;
  background-color: #1B262F;
  background-image: url(../../images/work-bg.svg);
  background-repeat: no-repeat;
  background-size: 541px 421px;
  background-position: left top;
}

.work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.work__content-wrapper {
  width: 445px;
}

.work__title {
  color: #FBFCFE;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 24px;
}

.work__text {
  color: #B8BCC0;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 32px;
}

.work__link {
  display: inline-block;
  text-align: center;
  width: 129px;
  padding: 15px 0;
  border: none;
  border: 2px solid white;
  border-radius: 24px;
  background-color: transparent;
  transition: 0.3s all linear;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.work__link:hover {
  color: #1B262F;
  background-color: white;
}

.work__img2 {
  display: none;
}

@media (max-width: 1030px) {
  .work__img {
    width: 400px;
    height: 63px;
  }
}
@media (max-width: 900px) {
  .work-section {
    padding: 88px 0;
    background-image: url(../../images/work-bg-resp-800.svg);
    background-size: 780px;
    background-position: center top;
  }
  .work {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }
  .work__img {
    width: 536px;
    height: 103px;
  }
  .work__content-wrapper {
    max-width: 457px;
    text-align: center;
  }
}
@media (max-width: 605px) {
  .work-section {
    padding: 80px 0;
    background-size: 780px 190px;
  }
  .work {
    gap: 56px;
  }
  .work__img {
    display: none;
  }
  .work__img2 {
    display: block;
  }
  .work__content-wrapper {
    max-width: 335px;
  }
  .work__title {
    color: #FBFCFE;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .work__text {
    gap: 60px;
  }
}
@media (max-width: 350px) {
  .work__content-wrapper {
    width: 100%;
  }
}
.easy-section {
  padding-top: 150px;
}

.easy {
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.easy-content-wrapper {
  max-width: 415px;
}

.easy > img {
  border-radius: 8px;
}

.easy__title {
  color: #36536B;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 24px;
}

.easy__text {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0px;
}

@media (max-width: 930px) {
  .easy-section {
    padding-top: 100px;
  }
  .easy {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .easy-content-wrapper {
    max-width: 573px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .easy-section {
    padding-top: 80px;
  }
  .easy > img {
    width: 328px;
    height: 209px;
  }
  .easy {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .easy-content-wrapper {
    max-width: 573px;
    text-align: center;
  }
  .easy__title {
    color: #36536B;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 24px;
  }
}
@media (max-width: 370px) {
  .easy > img {
    width: 280px;
  }
}
.simple-section {
  padding: 150px 0;
  background-image: url(../../images/simple-bg.svg);
  background-repeat: no-repeat;
  background-size: 780px 780px;
  background-position: calc(50% + 600px) top;
}

.simple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.simple__content-wrapper {
  max-width: 427px;
  margin-left: 60px;
}

.simple__title {
  color: #36536B;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 24px;
}

.simple__text {
  color: #6C8294;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0px;
}

@media (max-width: 1100px) {
  .simple > img {
    width: 450px;
    height: 410px;
  }
}
@media (max-width: 930px) {
  .simple-section {
    padding: 100px 0;
  }
  .simple {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .simple > img {
    width: 363px;
    height: 320px;
  }
  .simple__content-wrapper {
    max-width: 570px;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 545px) {
  .simple-section {
    padding: 80px 0;
  }
  .simple {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .simple > img {
    width: 328px;
    height: 290px;
  }
  .simple__content-wrapper {
    max-width: 328px;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 390px) {
  .simple > img {
    width: 300px;
    height: 270px;
  }
}
.banking-section {
  padding-bottom: 96px;
}

.banking__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.banking__item {
  max-width: 350px;
  text-align: center;
}

.banking__item > h2 {
  margin-top: 32px;
  font-family: "Public Sans";
  color: #36536B;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 16px;
}

.banking__item > p {
  color: #36536B;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 0px;
}

@media (max-width: 930px) {
  .banking-section {
    padding-bottom: 100px;
  }
  .banking__item {
    max-width: 223px;
  }
  .banking__item > img {
    width: 88px;
    height: 88px;
  }
}
@media (max-width: 735px) {
  .banking-section {
    padding-bottom: 80px;
  }
  .banking__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .banking__item {
    max-width: 328px;
  }
  .banking__item > img {
    width: 106px;
    height: 106px;
  }
}
.ready-section {
  padding-bottom: 96px;
}

.ready {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.ready__title {
  color: #36536B;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0px;
}

.ready__form {
  width: 445px;
}

.ready__label {
  width: 100%;
  position: relative;
}

.ready__input {
  width: 100%;
  padding: 15px 5px 15px 27px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background: rgb(251, 252, 254);
  transition: all 0.3s ease;
}
.ready__input:focus {
  box-shadow: 0 0 5px 1px #36536B;
  opacity: 1;
}

.ready__btn {
  position: absolute;
  right: 0;
  transform: 0.3s all ease;
  text-align: center;
  width: 173px;
  padding: 14px 0;
  border: none;
  border: 2px solid transparent;
  border-radius: 24px;
  background-color: #BA4270;
  transition: 0.3s all linear;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.ready__btn:hover {
  background-color: #DA6D97;
}

@media (max-width: 875px) {
  .ready-section {
    padding-bottom: 100px;
  }
  .ready {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
@media (max-width: 600px) {
  .ready-section {
    padding-bottom: 80px;
  }
  .ready {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .ready__title {
    color: #36536B;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0px;
  }
  .ready__form {
    width: 327px;
  }
  .ready__label {
    width: 100%;
    position: static;
  }
  .ready__btn {
    margin-top: 16px;
    position: static;
    transform: 0.3s all ease;
    text-align: center;
    width: 100%;
    padding: 14px 0;
    border: none;
    border: 2px solid transparent;
    border-radius: 24px;
    background-color: #BA4270;
    transition: 0.3s all linear;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 0px;
  }
  .ready__btn:hover {
    background-color: #DA6D97;
  }
}
@media (max-width: 340px) {
  .ready__form {
    width: 100%;
  }
}
.site-footer {
  padding: 31px 0;
  background-color: #1B262F;
  background-image: url(../../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: 390px 100px;
  background-position: right;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}

.footer_link-content {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer__link {
  transition: 0.3s all linear;
  color: #B7BCC0;
  font-size: 15px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0px;
}
.footer__link:hover {
  color: #36536B;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.footer__item > a {
  transition: 0.3s all linear;
  color: white;
}
.footer__item > a:hover {
  color: #DA6D97;
}

@media (max-width: 690px) {
  .site-footer {
    padding: 41px 0 55px;
    background-color: #1B262F;
    background-image: url(../../images/footer-bg-resp.svg);
    background-size: 600px 200px;
    background-position: bottom;
  }
  .footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer__logo-wrapper {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer_link-content {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
  }
}/*# sourceMappingURL=main.css.map */