*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Public Sans';
    background-color:#EDF3F8 ;
    background-image: url(../images/body-bg.png);
    background-repeat: no-repeat;
    background-size: 640px 608px;
    background-position: right top;
    overflow-x: hidden;
}

h1, h2, h3{
    font-family: 'DM Serif Display';
}

@media (max-width:900px){
    body{
        background-image: url(../images/tablet-bg.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center top;
    }
}
@media (max-width:900px){
    body{
        background-image: url(../images/mobile-bg.png);
    
    }
}

.about-body{
    background-image: url(../images/about-body-bg.png);
    background-repeat: no-repeat;
    background-size: 700px 253px;
    background-position: right top;
}