*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Public Sans';
}
h2, h3{
  font-family: 'DM Serif Display', serif;
}
body{
  background-color: #EDF3F8;
}