// Header start 
.site-header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 150;
    top: 0;
    backdrop-filter: blur(35px);
}
.header {
    @include display($items:center, $justify:space-between, $gap:0px);
}
.header__content-wrapper{
    @include display($items:center, $justify:start, $gap:64px);
    
}
.header__img-link{
    display: inline-block;
}
.navbar__list {
    @include display($items:center, $justify:start, $gap:40px);
}
.navbar__item > a{
    padding: 15px 0;
    transition: color 0.3s linear;
    @include textStyle($CLR:#6C8294, $FS:15px, $FW:700, $LH:100%, $MB:0px);
    
    &:hover{
        color: #36536B;
    }
}
.header__button {
    padding-bottom: 15px;
    transform: 0.3s all ease;
    @include btnStyle($WH:173px, $PAD:15px, $borderCLR:transparent, $BG:#BA4270, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
    
    &:hover{
        background-color: #DA6D97;
    }
}
.header__humbarger{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.navbar__link-dropdown:hover > .dropdown__list{
    height: 123px;
    padding: 9px;
    transition: 0.3s all linear;
}
// Dropdown menu start 
.dropdown{
    position: relative;
    
}
.dropdown__list {
    width: 200px;
    height: 0;
    overflow-y: hidden;
    padding:0px;
    position: absolute;
    left: -75px;
    top: 30px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgb(54, 83, 107);
    
}
.dropdown__item {
    margin: 5px;
    border: 1.5px solid #1B262F;
    border-radius: 15px;
    transition: 0.3s all linear;

    &:hover{
        background-color: #1B262F;
    }
}
.dropdown__item > a{
    display: block;
    padding: 6px;
    transition: color 0.3s linear;
    @include textStyle($CLR:#6C8294, $FS:15px, $FW:700, $LH:100%, $MB:0px);
    
    &:hover{
        color: white;
    }
}
// Dropdown menu end 



// ----Modal start 
.header__modal {
    width: 80%;
    height: 100vh;
    padding: 24px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 150;
    background-color: #1B262F;
    transition: 0.3s all ease;

}
.show{
    right: 0;
    transition: 0.3s all ease;

}
.header__top-wrapper {
    text-align: right;
    border-bottom: 1px solid #3D464E;
    
}
.close__btn {
    padding-bottom: 24px;
    background-color: transparent;
    border: none;
}
.modal__list {
    margin: 43px 0 32px;
}
.modal__item{
    text-align: center;
}
.modal__item > a {
    transition: color 0.3s linear;
    @include textStyle($CLR:#6C8294, $FS:15px, $FW:700, $LH:100%, $MB:0px);
    
    &:hover{
        color: #36536B;
    }
}
.modal__item + .modal__item{
    margin-top: 32px;
}
.modal__button {
    transform: 0.3s all ease;
    @include btnStyle($WH:100%, $PAD:15px, $borderCLR:transparent, $BG:#BA4270, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
    
    &:hover{
        background-color: #DA6D97;
    }
}
// ----Modal end 






// -----------Tablet start 
@media (max-width: 880px) {
    .navbar__list {
        @include display($items:center, $justify:start, $gap:23px);
    }
}

// -----------Mobile start 
@media (max-width: 745px) {
    .header {
       gap: 25px;
    }
    .header__content-wrapper{
        gap: 0;
    }
    .navbar__list{
        display: none;
    }
    .header__button{
        display: none;
    }
    .header__humbarger{
        display: block;
    }
}