// Hero section start 
.site-hero {
    padding: 40px 0 75px;
    background-image: url(../../images/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: 645px 550px ;
    background-position: right top;
}
.hero {
    padding-top: 98px;
    @include display($items:center, $justify:space-between, $gap:0px);
}
.hero__content-wrapper{
    width: 546px;
}
.hero__title {
    @include textStyle($CLR:#36536B, $FS:72px, $FW:400, $LH:72px, $MB:21px);
}
.hero__form{
    width: 445px;
    margin-bottom: 16px;
}
.hero__label {
    width: 100%;
    position: relative;
}
.hero__input {
    width: 100%;
    padding: 15px 5px 15px 27px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: rgba(251, 252, 254, 1);
    transition: all 0.3s ease;
    
    &:focus{
        box-shadow: 0 0 5px 1px #36536B;
        opacity: 1;
    }
}
.hero__btn {
    position: absolute;
    right: 0;
    transform: 0.3s all ease;
    @include btnStyle($WH:173px, $PAD:14px, $borderCLR:transparent, $BG:#BA4270, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
    
    &:hover{
        background-color: #DA6D97;
    }
}
.hero__text {
    margin-left: 27px;
    @include textStyle($CLR:#6C8294, $FS:15px, $FW:400, $LH:100%, $MB:0px);
}
.hero__text > a{
    @include textStyle($CLR:#6C8294, $FS:15px, $FW:700, $LH:100%, $MB:0px);
    
}

// --------Tablet start 
@media (max-width: 880px) {
    .site-hero {
        padding: 20px 0 100px;
        background-image: url(../../images/hero-bg-resp-800.svg);
        background-size: 900px 280px;
        background-position: center top;
    }
    .hero {
        padding-top: 95px;
        flex-direction: column-reverse;
        @include display($items:center, $justify:center, $gap:48px);
    }
    .hero__img{
        width: 159px;
        height: 300px;
    }
    .hero__content-wrapper{
        max-width: 546px;
    }
    .hero__title {
        text-align: center;
        @include textStyle($CLR:#36536B, $FS:48px, $FW:400, $LH:56px, $MB:22px);
    }
    .hero__form{
        max-width: 445px;
        margin: 0 auto;
        margin-bottom: 16px;
        
    }
    .hero__label {
        width: 100%;
        position: relative;
    }
    .hero__text {
        text-align: center;
    }
}

// --------Mobile start 
@media (max-width: 630px) {
    .site-hero{
        background-size: 900px 220px;
        
    }
    .hero {
        padding-top: 80px;
        @include display($items:center, $justify:center, $gap:24px);   
    }
    .hero__img{
        width: 127px;
        height: 239px;
    }
    .hero__content-wrapper{
        max-width: 327px;
    }
    .hero__title {
        @include textStyle($CLR:#36536B, $FS:32px, $FW:400, $LH:36px, $MB:22px);
    }
    .hero__form{
        max-width: 327px;
        margin-bottom: 24px;
    }
    .hero__label {
        position: static;
    }
    .hero__btn {
        margin-top: 16px;
        position: static;
        @include btnStyle($WH:100%, $PAD:14px, $borderCLR:transparent, $BG:#BA4270, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
        
        &:hover{
            background-color: #DA6D97;
        }
    }
    .hero__text {
        margin: 0;
        text-align: center;
    }
}
@media (max-width: 350px) {
    .hero__content-wrapper, .hero__form{
        width: 100%;
    }
}