// Ready seciton start 
.ready-section {
    padding-bottom: 96px;
}
.ready {
    @include display($items:center, $justify:space-between, $gap:10px);
}
.ready__title {
    @include textStyle($CLR:#36536B, $FS:48px, $FW:400, $LH:56px, $MB:0px);
}
.ready__form {
    width: 445px;
}
.ready__label {
    width: 100%;
    position: relative;
}
.ready__input {
    width: 100%;
    padding: 15px 5px 15px 27px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: rgba(251, 252, 254, 1);
    transition: all 0.3s ease;
    
    &:focus{
        box-shadow: 0 0 5px 1px #36536B;
        opacity: 1;
    }
}
.ready__btn {
    position: absolute;
    right: 0;
    transform: 0.3s all ease;
    @include btnStyle($WH:173px, $PAD:14px, $borderCLR:transparent, $BG:#BA4270, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
    
    &:hover{
        background-color: #DA6D97;
    }
}

// ----------- Tablet start 
@media(max-width:875px){
    .ready-section {
        padding-bottom: 100px;
    }
    .ready {
        flex-direction: column;
        @include display($items:center, $justify:center, $gap:40px);
    }
    
}

// ----------- Mobile start 
@media(max-width:600px){
    .ready-section {
        padding-bottom: 80px;
    }
    .ready {
        @include display($items:center, $justify:center, $gap:32px);
    }
    .ready__title {
        @include textStyle($CLR:#36536B, $FS:32px, $FW:400, $LH:36px, $MB:0px);
    }
    .ready__form {
        width: 327px;
    }
    .ready__label {
        width: 100%;
        position: static;
    }
    .ready__btn {
        margin-top: 16px;
        position: static;
        transform: 0.3s all ease;
        @include btnStyle($WH:100%, $PAD:14px, $borderCLR:transparent, $BG:#BA4270, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
        
        &:hover{
            background-color: #DA6D97;
        }
    }
}
@media(max-width:340px){
    .ready__form {
        width: 100%;
    }
}