// work section start 

.work-section {
    padding: 100px 0;
    background-color: #1B262F;
    background-image: url(../../images/work-bg.svg);
    background-repeat: no-repeat;
    background-size: 541px 421px;
    background-position: left top;
}
.work {
    @include display($items:center, $justify:space-between, $gap:20px);
}
.work__content-wrapper {
    width: 445px;
}
.work__title {
    @include textStyle($CLR:#FBFCFE, $FS:48px, $FW:400, $LH:56px, $MB:24px);
}
.work__text {
    opacity: 0.7;
    @include textStyle($CLR:#FBFCFE, $FS:15px, $FW:400, $LH:28px, $MB:32px);
}
.work__link {
    display: inline-block;
    @include btnStyle($WH:129px, $PAD:15px, $borderCLR:white, $BG:transparent, $btnCLR:white, $btnFS:15px, $btnFW:700, $btnLH:100%);
    
    &:hover{
        color: #1B262F;
        background-color: white;
    }
}
.work__img2{
    display: none;
}


// -----------Tablet start 
@media (max-width: 1030px) {
    .work__img{
        width: 400px;
        height: 63px;
    }
}
@media (max-width: 900px) {
    .work-section {
        padding: 88px 0;
        background-image: url(../../images/work-bg-resp-800.svg);
        background-size: 780px;
        background-position: center top;
    }
    .work {
        flex-direction: column-reverse;
        @include display($items:center, $justify:center, $gap:64px);   
    }
    .work__img{
        width: 536px;
        height: 103px;
    }
    .work__content-wrapper {
        max-width: 457px;
        text-align: center;
    }
}

// -----------Mobile start 
@media (max-width: 605px) {
    .work-section {
        padding: 80px 0;
        background-size: 780px 190px;

    }
    .work {
        gap: 56px;
    }
    .work__img{
        display: none;
    }
    .work__img2{
        display: block;
    }
    .work__content-wrapper {
        max-width: 335px;
    }
    .work__title {
        @include textStyle($CLR:#FBFCFE, $FS:32px, $FW:400, $LH:36px, $MB:16px);
    }
    .work__text {
        gap: 60px;    
    }
}
@media (max-width: 350px) {
    .work__content-wrapper{
        width: 100%;    
    }
}